In [1]:
# LIBRARIES 
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('World Bank data on Countries.csv');

In [3]:
df

,Country Name,Country Code,Year,Agriculture (% GDP),Ease of Doing Business,Education Expenditure (% GDP),Export (% GDP),GDP,Health Expenditure (% GDP),Import (% GDP),...,Population,Land,Continent Name,Export,Import,Education Expenditure,Health Expenditure,Net Trade,GDP Per Capita,Population Density
0,Afghanistan,AFG,2000,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19542982.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,724.145910,29.934415
1,Afghanistan,AFG,2001,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19688632.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,718.788917,30.157510
2,Afghanistan,AFG,2002,38.627892,40.717968,13.670101,NaN,3.854235e+09,9.443391,NaN,...,21000256.0,652860.0,Asia,NaN,NaN,5.268779e+08,3.639705e+08,NaN,183.532775,32.166553
3,Afghanistan,AFG,2003,37.418855,40.717968,13.670101,NaN,4.539497e+09,8.941258,NaN,...,22645130.0,652860.0,Asia,NaN,NaN,6.205538e+08,4.058881e+08,NaN,200.462376,34.686043
4,Afghanistan,AFG,2004,29.721067,40.717968,13.670101,NaN,5.220825e+09,9.808474,NaN,...,23553551.0,652860.0,Asia,NaN,NaN,7.136921e+08,5.120832e+08,NaN,221.657662,36.077491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2018,7.319375,50.509980,19.039841,26.163973,3.415607e+10,4.670418,28.386297,...,15052184.0,390760.0,Africa,8.936585e+09,9.695644e+09,6.503261e+09,1.595231e+09,-7.590586e+08,2269.177012,38.520278
5102,Zimbabwe,ZWE,2019,9.819262,54.469350,22.837985,27.163459,2.183223e+10,3.659765,25.524111,...,15354608.0,390760.0,Africa,5.930390e+09,5.572484e+09,4.986042e+09,7.990086e+08,3.579063e+08,1421.868596,39.294216
5103,Zimbabwe,ZWE,2020,8.772859,49.833418,15.666611,25.917014,2.150970e+10,3.425581,28.733547,...,15669666.0,390760.0,Africa,5.574672e+09,6.180499e+09,3.369841e+09,7.368322e+08,-6.058277e+08,1372.696674,40.100486
5104,Zimbabwe,ZWE,2021,8.849899,49.833418,22.837985,25.411446,2.837124e+10,6.704907,30.901234,...,15993524.0,390760.0,Africa,7.209542e+09,8.767063e+09,6.479419e+09,1.902265e+09,-1.557521e+09,1773.920411,40.929276
5105,Zimbabwe,ZWE,2022,12.069543,49.833418,22.837985,28.908919,2.067806e+10,6.704907,39.540243,...,16320537.0,390760.0,Africa,5.977802e+09,8.176153e+09,4.722451e+09,1.386444e+09,-2.198351e+09,1266.996031,41.766140

In [4]:
df = df[['Country Name', 'Year','GDP','Population','Continent Name','Export','Import','Health Expenditure','Net Trade']]

In [5]:
df

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
0,Afghanistan,2000,1.415197e+10,19542982.0,Asia,NaN,NaN,1.542930e+09,NaN
1,Afghanistan,2001,1.415197e+10,19688632.0,Asia,NaN,NaN,1.542930e+09,NaN
2,Afghanistan,2002,3.854235e+09,21000256.0,Asia,NaN,NaN,3.639705e+08,NaN
3,Afghanistan,2003,4.539497e+09,22645130.0,Asia,NaN,NaN,4.058881e+08,NaN
4,Afghanistan,2004,5.220825e+09,23553551.0,Asia,NaN,NaN,5.120832e+08,NaN
...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,2018,3.415607e+10,15052184.0,Africa,8.936585e+09,9.695644e+09,1.595231e+09,-7.590586e+08
5102,Zimbabwe,2019,2.183223e+10,15354608.0,Africa,5.930390e+09,5.572484e+09,7.990086e+08,3.579063e+08
5103,Zimbabwe,2020,2.150970e+10,15669666.0,Africa,5.574672e+09,6.180499e+09,7.368322e+08,-6.058277e+08
5104,Zimbabwe,2021,2.837124e+10,15993524.0,Africa,7.209542e+09,8.767063e+09,1.902265e+09,-1.557521e+09
5105,Zimbabwe,2022,2.067806e+10,16320537.0,Africa,5.977802e+09,8.176153e+09,1.386444e+09,-2.198351e+09

In [6]:
df.isna().sum()

Country Name            0
Year                    0
GDP                    69
Population              0
Continent Name          0
Export                460
Import                460
Health Expenditure    575
Net Trade             460
dtype: int64

In [7]:
df.dropna(inplace=True)

C:\Users\ruchi\AppData\Local\Temp\ipykernel_7088\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [8]:
df.isna().sum()

Country Name          0
Year                  0
GDP                   0
Population            0
Continent Name        0
Export                0
Import                0
Health Expenditure    0
Net Trade             0
dtype: int64

In [9]:
df

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
23,Albania,2000,3.480355e+09,3089027.0,Europe,7.000834e+08,1.508344e+09,2.068788e+08,-8.082604e+08
24,Albania,2001,3.922101e+09,3060173.0,Europe,8.367179e+08,1.771127e+09,2.324171e+08,-9.344092e+08
25,Albania,2002,4.348068e+09,3051010.0,Europe,9.107297e+08,2.068787e+09,2.463007e+08,-1.158057e+09
26,Albania,2003,5.611496e+09,3039616.0,Europe,1.169850e+09,2.591006e+09,3.478521e+08,-1.421156e+09
27,Albania,2004,7.184686e+09,3026939.0,Europe,1.596262e+09,3.220868e+09,4.350887e+08,-1.624606e+09
...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,2018,3.415607e+10,15052184.0,Africa,8.936585e+09,9.695644e+09,1.595231e+09,-7.590586e+08
5102,Zimbabwe,2019,2.183223e+10,15354608.0,Africa,5.930390e+09,5.572484e+09,7.990086e+08,3.579063e+08
5103,Zimbabwe,2020,2.150970e+10,15669666.0,Africa,5.574672e+09,6.180499e+09,7.368322e+08,-6.058277e+08
5104,Zimbabwe,2021,2.837124e+10,15993524.0,Africa,7.209542e+09,8.767063e+09,1.902265e+09,-1.557521e+09
5105,Zimbabwe,2022,2.067806e+10,16320537.0,Africa,5.977802e+09,8.176153e+09,1.386444e+09,-2.198351e+09

In [10]:
df_Europe=df[df['Continent Name'] == 'Europe']
df_North_America=df[df['Continent Name'] == 'North America']
df_South_America=df[df['Continent Name'] == 'South America']
df_Oceania=df[df['Continent Name'] == 'Oceania']
df_Africa=df[df['Continent Name'] == 'Africa']
df_Asia=df[df['Continent Name'] == 'Asia']

In [11]:
df_Europe

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
23,Albania,2000,3.480355e+09,3089027.0,Europe,7.000834e+08,1.508344e+09,2.068788e+08,-8.082604e+08
24,Albania,2001,3.922101e+09,3060173.0,Europe,8.367179e+08,1.771127e+09,2.324171e+08,-9.344092e+08
25,Albania,2002,4.348068e+09,3051010.0,Europe,9.107297e+08,2.068787e+09,2.463007e+08,-1.158057e+09
26,Albania,2003,5.611496e+09,3039616.0,Europe,1.169850e+09,2.591006e+09,3.478521e+08,-1.421156e+09
27,Albania,2004,7.184686e+09,3026939.0,Europe,1.596262e+09,3.220868e+09,4.350887e+08,-1.624606e+09
...,...,...,...,...,...,...,...,...,...
4848,United Kingdom,2018,2.878152e+12,66460344.0,Europe,8.989881e+11,9.430234e+11,2.779764e+11,-4.403523e+10
4849,United Kingdom,2019,2.857058e+12,66836327.0,Europe,8.930479e+11,9.391877e+11,2.821288e+11,-4.613980e+10
4850,United Kingdom,2020,2.704609e+12,67081234.0,Europe,7.907517e+11,7.810632e+11,3.239471e+11,9.688467e+09
4851,United Kingdom,2021,3.122480e+12,67026300.0,Europe,8.998976e+11,9.384622e+11,3.727956e+11,-3.856464e+10
4852,United Kingdom,2022,3.070668e+12,66971411.0,Europe,1.004804e+12,1.111594e+12,2.865727e+11,-1.067901e+11

In [12]:
df_Africa

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
46,Algeria,2000,5.479040e+10,30774621.0,Africa,2.305017e+10,1.139017e+10,1.911655e+09,1.166000e+10
47,Algeria,2001,5.474470e+10,31200985.0,Africa,2.008545e+10,1.205306e+10,2.101034e+09,8.032387e+09
48,Algeria,2002,5.676036e+10,31624696.0,Africa,2.015250e+10,1.454747e+10,2.117185e+09,5.605029e+09
49,Algeria,2003,6.786385e+10,32055883.0,Africa,2.595713e+10,1.620313e+10,2.443805e+09,9.753994e+09
50,Algeria,2004,8.533258e+10,32510186.0,Africa,3.417845e+10,2.188627e+10,3.024249e+09,1.229218e+10
...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,2018,3.415607e+10,15052184.0,Africa,8.936585e+09,9.695644e+09,1.595231e+09,-7.590586e+08
5102,Zimbabwe,2019,2.183223e+10,15354608.0,Africa,5.930390e+09,5.572484e+09,7.990086e+08,3.579063e+08
5103,Zimbabwe,2020,2.150970e+10,15669666.0,Africa,5.574672e+09,6.180499e+09,7.368322e+08,-6.058277e+08
5104,Zimbabwe,2021,2.837124e+10,15993524.0,Africa,7.209542e+09,8.767063e+09,1.902265e+09,-1.557521e+09
5105,Zimbabwe,2022,2.067806e+10,16320537.0,Africa,5.977802e+09,8.176153e+09,1.386444e+09,-2.198351e+09

In [13]:
df_Asia

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
185,Armenia,2000,1.911564e+09,3168523.0,Asia,4.236296e+08,9.571565e+08,8.020561e+07,-5.335268e+08
187,Armenia,2001,2.118468e+09,3133133.0,Asia,5.115222e+08,9.685299e+08,9.841637e+07,-4.570077e+08
189,Armenia,2002,2.376335e+09,3105037.0,Asia,6.613841e+08,1.096736e+09,1.809244e+08,-4.353514e+08
191,Armenia,2003,2.807061e+09,3084102.0,Asia,8.556763e+08,1.391414e+09,2.015291e+08,-5.357380e+08
193,Armenia,2004,3.576615e+09,3065745.0,Asia,1.008274e+09,1.605181e+09,2.165677e+08,-5.969066e+08
...,...,...,...,...,...,...,...,...,...
5055,"Yemen, Rep.",2018,2.160616e+10,30790513.0,Asia,1.308592e+09,9.344000e+09,1.123519e+09,-8.035408e+09
5056,"Yemen, Rep.",2019,2.474992e+10,31546691.0,Asia,4.622945e+09,9.487876e+09,1.286994e+09,-4.864931e+09
5057,"Yemen, Rep.",2020,2.474992e+10,32284046.0,Asia,4.622945e+09,9.487876e+09,1.286994e+09,-4.864931e+09
5058,"Yemen, Rep.",2021,2.474992e+10,32981641.0,Asia,4.622945e+09,9.487876e+09,1.286994e+09,-4.864931e+09
5059,"Yemen, Rep.",2022,2.474992e+10,33696614.0,Asia,4.622945e+09,9.487876e+09,1.286994e+09,-4.864931e+09

In [14]:
df_Oceania

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
253,Australia,2000,4.158450e+11,19028802.0,Oceania,8.069588e+10,8.966328e+10,3.160262e+10,-8.967395e+09
254,Australia,2001,3.793578e+11,19274701.0,Oceania,8.409674e+10,8.377045e+10,2.914501e+10,3.262850e+08
255,Australia,2002,3.955730e+11,19495210.0,Oceania,8.203376e+10,8.201702e+10,3.116354e+10,1.674308e+07
256,Australia,2003,4.674980e+11,19720737.0,Oceania,8.913803e+10,9.890041e+10,3.685252e+10,-9.762376e+09
257,Australia,2004,6.143264e+11,19932722.0,Oceania,1.054908e+11,1.219925e+11,4.969921e+10,-1.650164e+10
...,...,...,...,...,...,...,...,...,...
4940,Vanuatu,2018,9.147370e+08,297298.0,Oceania,3.805020e+08,5.190578e+08,3.034673e+07,-1.385558e+08
4941,Vanuatu,2019,9.365263e+08,304404.0,Oceania,4.714967e+08,4.592509e+08,3.104147e+07,1.224588e+07
4942,Vanuatu,2020,9.094210e+08,311685.0,Oceania,1.427630e+08,4.298665e+08,3.610360e+07,-2.871035e+08
4943,Vanuatu,2021,9.716361e+08,319137.0,Oceania,8.901578e+07,4.985268e+08,3.400158e+07,-4.095110e+08
4944,Vanuatu,2022,9.835829e+08,326740.0,Oceania,1.499005e+08,5.353873e+08,3.441965e+07,-3.854868e+08

In [15]:
df_South_America

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
161,Argentina,2000,2.842038e+11,37070774.0,South America,3.122369e+10,3.307015e+10,2.336158e+10,-1.846456e+09
162,Argentina,2001,2.686968e+11,37480493.0,South America,3.111242e+10,2.760388e+10,2.249475e+10,3.508537e+09
163,Argentina,2002,9.772400e+10,37885028.0,South America,2.773661e+10,1.306582e+10,7.225040e+09,1.467079e+10
164,Argentina,2003,1.275870e+11,38278164.0,South America,3.308451e+10,1.877290e+10,8.796505e+09,1.431161e+10
165,Argentina,2004,1.646579e+11,38668796.0,South America,3.926700e+10,2.773667e+10,1.190260e+10,1.153032e+10
...,...,...,...,...,...,...,...,...,...
4963,"Venezuela, RB",2018,2.452296e+11,29825653.0,South America,7.116064e+10,5.282874e+10,5.926988e+09,1.833190e+10
4964,"Venezuela, RB",2019,2.452296e+11,28971683.0,South America,7.116064e+10,5.282874e+10,5.359830e+09,1.833190e+10
4965,"Venezuela, RB",2020,2.452296e+11,28490453.0,South America,7.116064e+10,5.282874e+10,9.358116e+09,1.833190e+10
4966,"Venezuela, RB",2021,2.452296e+11,28199867.0,South America,7.116064e+10,5.282874e+10,1.472697e+10,1.833190e+10
4967,"Venezuela, RB",2022,2.452296e+11,28301696.0,South America,7.116064e+10,5.282874e+10,1.472697e+10,1.833190e+10

In [16]:
df_North_America

,Country Name,Year,GDP,Population,Continent Name,Export,Import,Health Expenditure,Net Trade
138,Antigua and Barbuda,2000,8.263704e+08,75055.0,North America,8.148148e+08,6.178519e+08,3.896688e+07,1.969630e+08
139,Antigua and Barbuda,2001,8.004815e+08,76215.0,North America,7.772222e+08,6.031111e+08,4.353331e+07,1.741111e+08
140,Antigua and Barbuda,2002,8.143815e+08,77195.0,North America,7.467407e+08,5.880741e+08,4.306397e+07,1.586667e+08
141,Antigua and Barbuda,2003,8.563963e+08,78075.0,North America,8.074074e+08,6.628148e+08,4.779918e+07,1.445926e+08
142,Antigua and Barbuda,2004,9.197296e+08,78941.0,North America,9.319259e+08,7.342222e+08,4.705962e+07,1.977037e+08
...,...,...,...,...,...,...,...,...,...
4871,United States,2018,2.053306e+13,326838199.0,North America,2.538089e+12,3.131166e+12,3.416894e+12,-5.930770e+11
4872,United States,2019,2.138098e+13,328329953.0,North America,2.538450e+12,3.117235e+12,3.565593e+12,-5.787850e+11
4873,United States,2020,2.106047e+13,331511512.0,North America,2.148616e+12,2.776115e+12,3.962702e+12,-6.274990e+11
4874,United States,2021,2.331508e+13,332031554.0,North America,2.539648e+12,3.401361e+12,3.631518e+12,-8.617130e+11
4875,United States,2022,2.546270e+13,333287557.0,North America,2.920118e+12,3.874205e+12,3.966028e+12,-9.540869e+11

In [17]:
df['Continent Name'].unique()

array(['Europe', 'Africa', 'North America', 'South America', 'Asia',
       'Oceania'], dtype=object)

#### using for loop

In [18]:
for i in df['Continent Name'].unique():
    subset = df[df['Continent Name'] == i]
    subset.to_csv(f'{i}.csv', index=False)

In [19]:
df.to_csv('Clean Data.csv',index=False)

## The End